### Criando UMA TABELA

### CRIANDO UM DATAFRAME

In [1]:
import pandas as pd

df = pd.DataFrame()

print(df)

Empty DataFrame
Columns: []
Index: []

### criando a partir de listas

In [2]:
import pandas as pd

data = [1, 2, 3, 4, 5]
df = pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [3]:
import pandas as pd

#lista de listas
data = [[1,2,3], [4,5,6], [7,8,9]]
df = pd.DataFrame(data)
print(df)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [4]:
# com dicionarios
data = [{'a': 1, 'b': 2}, {'a': 3, 'b': 4}, {'a': 5, 'b': 6}]
df = pd.DataFrame(data)
print(df)

   a  b
0  1  2
1  3  4
2  5  6

In [5]:
#criando com indices
data = [{'a': 1, 'b': 2}, {'a': 3, 'b': 4}, {'a': 5, 'b': 6}]
df = pd.DataFrame(data, index=['linha1', 'linha2', 'linha3'])
print(df)

        a  b
linha1  1  2
linha2  3  4
linha3  5  6

In [8]:
# criando a partir de uma lista de dicionarios com nomes de pessoas
data = [{'nome': 'Joao', 'idade': 25}, {'nome': 'Maria', 'idade': 30}, {'nome': 'Pedro', 'idade': 35}]
df = pd.DataFrame(data, index=['pessoa1', 'pessoa2', 'pessoa3'])
df

          nome  idade
pessoa1   Joao     25
pessoa2  Maria     30
pessoa3  Pedro     35

In [11]:
# columns
data = [{'nome': 'Joao', 'idade': 25},
        {'nome': 'Maria', 'idade': 30},
        {'nome': 'Pedro', 'idade': 35}]
df = pd.DataFrame(data, columns=['nome', 'idade'], index=['pessoa1', 'pessoa2', 'pessoa3'])
list(df.columns)

['nome', 'idade']

In [14]:
list(df.index)

['pessoa1', 'pessoa2', 'pessoa3']

In [15]:
df.shape

(3, 2)